.profile__subtitle {
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width:540px){
  .profile__subtitle {
    text-align: center;
  }
}


@media screen and (max-width:320px){
  .profile__subtitle {
    text-align: center;
    margin-bottom: 38px;
  }
}
