.profile__subtitle {
  color: #ffffff;
  font-family: "Inter", ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  
}
@media screen and (max-width:710px){
  .profile__subtitle {
    text-align: center;
    margin-left: 50px;
  }
}

@media screen and (max-width:540px){
  .profile__subtitle {
    margin-left: 0;
  }
}



@media screen and (max-width:320px){
  .profile__subtitle {
    margin-bottom: 31px;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
  }
}
