.profile__subtitle {
  color: #ffffff;
  font-family: "Inter", ‘Arial’, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  max-width: 336px;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width:540px){
  .profile__subtitle {
    text-align: center;
  }
}


@media screen and (max-width:320px){
  .profile__subtitle {
    margin-bottom: 31px;
    font-size: 14px;
    line-height: 17px;
  }
}
