.footer__copyright {
  margin: 0;
  padding-top: 67px;
  padding-bottom: 60px;
  font-family: "Inter", ‘Arial’, sans-serif;;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
}

@media screen and (max-width: 940px) {
  .footer__copyright {
    margin: 0 auto;
    max-width: 590px;
  }
}

@media screen and (max-width: 555px) {
  .footer__copyright {
    max-width: 282px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    padding-top: 48px;
    padding-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
  }
}
