.profile__button {
  width: 150px;
  height: 50px;
  background: url(images/addButton.svg) no-repeat center black;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  cursor: pointer;
  align-self: center;
  border-radius: 2px;
}

.profile__button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 710px) {
  .profile__button {
    width: 110px;
    height: 50px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 540px) {
  .profile__button {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .profile__button {
    background-size: 17px;
  }
}
