.popup__container {
  position: relative;
  z-index: 2;
  width: 430px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  background-color: white;
  padding: 34px 36px 37px 36px;
  box-sizing: border-box;

}
.popup__container:nth-child(2) {
  margin-bottom: 30px;
}

@media screen and (max-width:560px) {
  .popup__container {
    padding: 25px 22px;
    width: 282px;
  }
}