.element__delete-button {
  background-image: url(images/Trash.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0);
  width: 18px;
  height: 19px;
  cursor: pointer;
  border: 0;
  position: absolute;
  top: 20px;
  right: 20px;
}
