.element__like-button {
  background-image: url(../../../images/love_disabled.svg);
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
  background-color: white;
  align-self: center;
  padding-right: 14px;
}

.element__like-button:hover {
  opacity: 0.5;
}

