.popup__close-btn {
  background-image: url(images/close-icon.svg);
  width: 32px;
  height: 32px;
  border: none;
  display: inline;
  align-self: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  position: absolute;
  right: -42px;
  top: -35px;
}
.popup__close-btn:hover {
  opacity: 0.6;
}

@media  screen and (max-width:560px) {
  .popup__close-btn{
    width: 20px;
    height: 20px;
    right: 1px;
    top: -38px;
  }   
}

@media  screen and (max-width:320px) {
  .popup__close-btn{
   background-size: cover;
  }   
}